<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <!-- Favicon configuration -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/images/favicon/site.webmanifest' | relative_url }}">

    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/custom.css' | relative_url }}" rel="stylesheet">
  </head>
  <body class="page {{page.bodyClass}} min-h-full flex flex-col">
    {% include mobile-menu.html %}
    {% include header.html %}
    <div class="container mx-auto px-6 md:px-4 flex-grow">
      {{content}}
    </div>
    {% include footer.html %}
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
  </body>
</html>
