---
layout: default
---

{% include heading.html heading=page.title description=page.description align="center" date=page.date %}

<div class="max-w-[736px] mx-auto">
  {% if page.featured_image %}
    <img width="1600" height="900" src="{{ page.featured_image }}" class="rounded-lg"/>
  {% else %}
    {% include fallback-image.html %}
  {% endif %}
</div>

{% if page.categories %}
  <div class="flex justify-center py-4">
    {% for category in page.categories %}
      {% include category-badge.html %}
    {% endfor %}
  </div>
{% endif %}

<div class="w-full py-6 md:py-12">
  <div class="prose mx-auto prose-img:rounded-lg">
    {{ content }}
  </div>
</div>

{% if page.categories %}
  <div class="py-6 mt-6 border-t-2 block md:hidden">
    <h3 class="text-sm font-medium mb-1">Categories</h3>
    <div>
      {% for category in page.categories %}
        {% include category-badge.html %}
      {% endfor %}
    </div>
  </div>
{% endif %} 